<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>Address book</title>
  </head>
  <body>
    <div class="container">
      <h1><center>Address book</center></h1>
      <h4>You have created this new contact:</h4>
      <p>Name:{{new_contact.getName}}</p>
      <p>Address:{{new_contact.getAddress}}</p>
      <p>Phone Number:{{new_contact.getPhone}}</p>
      <p>To check your whole list of contacts go back to your home page. <a href="/">Click here</a></p>
    </div>
  </body>
</html>
