<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>Address book</title>
  </head>
  <body>
    <div class="container">
      <h1><center>Address book</center></h1>
      <p>You have created this new contact:</p>
      <p>{{new_contact.getName}}</p>
      <p>{{new_contact.getAddress}}</p>
      <p>{{new_contact.getPhone}}</p>
      <p>To check your whole list of contacts go back to your home page <a href="/">here</a></p>
    </div>
  </body>
</html>
